body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image {
    width: 100px; 
    height: auto;
    margin: 10 px;
    cursor: pointer;
    border: 2px solid transparent;
}

.image:hover {
    border: 2px solid blue;
    
}